.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .posts-container {
        margin-top: 40px;
    }
}