.post-card {
    width: fit-content;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin: 20px;
    display: flex;
    cursor: pointer;
    max-height: 200px;
    box-sizing: border-box;
    background: #FBFBFB;
}

.post-card .img-wrapper {
    width: 300px;
    height: auto;
    overflow: hidden;
}

.post-card .img-wrapper img {
    width: 100%;
    height: auto;
}

.post-summary {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #FBFBFB;
    box-sizing: border-box;
    position: relative;
}

.post-summary h2,
.post-summary p {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-summary h2 {
    font-size: 16px;
    max-height: 20px;
    margin: 0;
}

.post-summary p {
    font-size: 14px;
    flex-grow: 1;
}

.post-summary .tech-badge-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.post-summary .tech-badge {
    font-size: 12px;
    color: white;
    background: aquamarine;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
}

.post-summary .date {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #83818c;
    border-top-left-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 11px;
    font-style: italic;
    text-align: right;
}

@media only screen and (max-width: 600px) {
    .post-card {
        flex-direction: column;
    }

}