.nav {
    display: inline-flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: white;
    padding: 0 20px;
}

.nav-item-wrapper {
    display: flex;
    flex-direction: column;
}

.nav-item {
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: 0.6s;
    margin: 0 7px;
    z-index: 1;
    font-family: tahoma;
    font-weight: 500;
    position: relative;
}

.active {
    color: #61dafb;
}

.long-stick {
    height: 2px;
    background: #61dafb;
    width: 100%;
}

.short-stick {
    width: 1px;
    height: 2px;
    background: white;
}

span {
    transition: width 0.25s ease-in-out;
}

